# Maven
target/

# Eclipse
bin/
.settings/
.project
.classpath
.factorypath

# sts
.sts4-cache/

# vscode
.vscode/

# Eclipse STS plugin
.springBeans

# IntelliJ
out/
.idea/
*.iml

# MagicDraw
*.mdzip.bak

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# H2 database files
*.mv.db
*.h2.db
