<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />	
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />		
		<title th:text="#{cities.edit}">TITLE</title>
	</head>
	<body class="bg-light">
		<div th:include="navigation :: navigation"></div>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="pb-2 mt-4 mb-2">
						<h1 th:text="#{cities.edit}">TITLE</h1>
					</div>
					<div class="col-lg-4 mt-4">
						<form id="form" method="post" th:action="@{/cities/edit?id={id}(id=${city.id})}" th:object="${form}">
							<div class="form-group">
								<label for="name" th:text="#{cities.name}">NAME</label>
								<input id="name" th:name="name" th:value="${city.name}" type="text" class="form-control" required="required" />
							</div>
							<button type="submit" class="btn btn-primary" th:text="#{buttons.submit}">SUBMIT</button>
							<a class="btn btn-secondary" th:href="@{/cities/details?id={id}(id=${city.id})}" th:text="#{buttons.back}">BACK</a>
						</form>
					</div>
				</div>
			</div>
		</div>
				
		<div th:include="footer :: footer"></div>
	</body>
</html>