<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/vendor/bootstrap-select.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />	
		<title th:text="#{travelguides}">TITLE</title>
	</head>
	<body class="bg-light">
		<div th:include="navigation :: navigation"></div>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="pb-2 mt-4 mb-2">
						<h1 th:text="#{travelguides}">TITLE</h1>
					</div>
					<a class="btn btn-primary" th:href="@{/travelguides/sale}" th:text="#{travelguides.sale}">TRAVELGUIDE_SALE</a>
					<a class="btn btn-primary" sec:authorize="hasRole('BOSS')" th:href="@{/travelguides/create}" th:text="#{travelguides.create}">CREATE_TRAVELGUIDE</a>
					<form id="form" class="form-inline float-right" method="get" th:action="@{/travelguides/filter}">
						<div class="input-group mr-sm-2">
							<label for="city" th:text="#{accommodations.city}">CITY</label>
							<select id="city" name="city" class="form-control selectpicker" th:title="#{buttons.nothingSelected}" data-live-search="true">
								<option value=""></option>
								<option th:each="city : ${cityList}" th:value="${city.name}" th:text="${city.name}"/>
							</select>
						</div>
						<button type="submit" class="btn btn-primary" th:text="#{buttons.filter}">FILTER</button>
					</form>
					<div class="mt-4">
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th th:text="#{travelguides.name}">NAME</th>
									<th th:text="#{travelguides.city}">CITY</th>
									<th th:text="#{travelguides.price}">PRICE</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="travelguide : ${travelguideList}" style="cursor: pointer" th:onclick="'window.location.href = \'' + @{/travelguides/details?id={id}(id=${travelguide.id})} + '\''">
									<td th:text="${travelguide.name}">NAME</td>
									<td th:text="${travelguide.city.name}">CITY</td>
									<td th:text="|EUR ${#numbers.formatDecimal(travelguide.price, 1, 2, 'COMMA')}">PRICE</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<script th:src="@{/resources/js/vendor/bootstrap-select.min.js}"></script>
		
		<div th:include="footer :: footer"></div>
	</body>
</html>